<footer class="mt-20 mb-12">
  <p class="text-center text-2xl">
    Repositorio Completo: <a
      target="_blank"
      href="https://github.com/Nachorojo2015/Javascript-proyects"
      class="font-bold transition hover:text-zinc-500">Aquí</a
    >
  </p>
  <div class="flex flex-col items-center justify-center mt-5 gap-3">
    <p class="font-bold">
      Hecho por <a
        href="https://www.linkedin.com/in/ignacio-gomez-523b03258/"
        target="_blank"
        class="text-blue-600 transition hover:text-blue-400"
        >Ignacio Gómez Rodríguez</a
      >
    </p>
    <img
      src="https://avatars.githubusercontent.com/u/102544177?v=4"
      alt="image-profile-github"
      class="w-12 h-12 rounded-md"
    />
  </div>
</footer>
